@tailwind base;
@tailwind components;
@tailwind utilities;

/* レンジスライダーのカスタムスタイル */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #f59e0b;
  border-radius: 50%;
  border: 4px solid #171717;
  box-shadow: 0 0 10px rgba(245, 158, 11, 0.3);
  cursor: pointer;
}